.App {
  text-align: center;
  background-color: #eb0a1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button.whiteButton {
  min-width: 110px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.whiteButton:hover {
  background-color: lightsalmon;
}

button.tinyButton {
  min-width: 60px;
  padding: 2px;
  border-radius: 5px;
  background-color: lightgreen;
  color: black;
  font-weight: bold;
}

.tinyButton:hover {
  background-color: mediumseagreen;
}

img {
  display: block;
}

a:link {text-decoration: none;}
a:hover {text-decoration: underline; cursor: pointer}

a:link, a:visited {
  color: #61dafb;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.flexRow {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.pad20 {
  padding: 20px;
}

.justifyStart {
  justify-content: flex-start;
}

.alignStart {
  align-items: flex-start;
}

.fieldInput {
  font-size: 20px;
  /*font-weight: bold;*/
  text-align: center;
  width: 150px;
  padding: 5px;
  border: solid 2px mediumpurple;
  border-radius: 20px;
  /*background-color: black;*/
  /*color: red;*/
}