.App {
  text-align: center;
  background-color: #eb0a1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bigPanel {
  min-height: 150px;
  width: 500px;
  color: black;
  background-color: mediumspringgreen;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  font-size: 15px;
  text-align: center;
}

.ovalPanel {
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  color: dodgerblue;
  font-size: 15px;
  font-weight: bold;
}

button.whiteButton {
  min-width: 110px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.whiteButton:hover {
  background-color: lightgrey;
}

button.bigRoundButton {
  height: 150px;
  width: 150px;
  padding: 10px;
  border-radius: 75px;
  color: dodgerblue;
  font-size: 20px;
  font-weight: bold;
}

.bigRoundButton:hover {
  background-color: lightgrey;
}

button.ovalButton {
  padding: 5px 25px 5px 25px;
  border-radius: 25px;
  color: dodgerblue;
  font-size: 15px;
  font-weight: bold;
}

.ovalButton:hover {
  background-color: lightgrey;
}

button.tinyButton {
  min-width: 60px;
  padding: 2px;
  border-radius: 5px;
  background-color: lightgrey;
  color: black;
  font-weight: bold;
}

.tinyButton:hover {
  background-color: grey;
}

img {
  display: block;
}

a:link {text-decoration: none;}
a:hover {text-decoration: underline; cursor: pointer}

a:link, a:visited {
  color: #61dafb;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.flexRow {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.pad20 {
  padding: 20px;
}

.justifyStart {
  justify-content: flex-start;
}

.alignStart {
  align-items: flex-start;
}

.fieldInput {
  font-size: 20px;
  /*font-weight: bold;*/
  text-align: center;
  width: 150px;
  padding: 5px;
  border: solid 2px mediumpurple;
  border-radius: 20px;
  /*background-color: black;*/
  /*color: red;*/
}

.bg-yellow {background-color: #fbf82e;}
.bg-green {background-color: mediumspringgreen;}
.bg-blue {background-color: lightblue;}
